html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Encabezado */
header {
  background: skyblue;
  color: white;
  text-align: center;
  padding: 1rem;
  flex: 0 0 auto;
}

header h1 {
  margin: 0;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

/* El mapa ocupa el resto */
#map {
  flex: 1 1 auto;
  position: relative;
}

/* .rosa-vientos {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 80px; 
  height: auto;
  opacity: 0.85;
  pointer-events: none; 
}

.escala-mapa {
  position: absolute;
  bottom: 15px;
  left: 110px; 
  width: 120px;
  height: auto;
  opacity: 0.85;
  pointer-events: none;
} */

    /* Contenedor de imágenes en la esquina inferior izquierda */
.map-images {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column; /* para que queden una arriba de otra */
    align-items: flex-start;
    gap: 5px; /* separación entre imágenes */
}

.map-images img {
    max-width: 80px; /* ajusta tamaño regular */
    height: auto;
}

.map-images img.scale {
    max-width: 100px; /* la escala un poco más larga */
}