html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Encabezado */
header {
  background: skyblue;
  color: white;
  text-align: center;
  padding: 1rem;
  flex: 0 0 auto;
}

header h1 {
  margin: 0;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

/* El mapa ocupa el resto */
#map {
  flex: 1 1 auto;
  position: relative;
}

.rosa-vientos {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 140px; 
  height: auto;
  opacity: 0.85;
  pointer-events: none; 
}

.escala-mapa {
  position: absolute;
  bottom: 15px;
  left: 180px; 
  width: 180px;
  height: auto;
  opacity: 0.85;
  pointer-events: none;
}

.legend {
    position: absolute;
    bottom: 180px;
    left: 15px;
    width: 140px;
    height: auto;
    opacity: 0.85;
    pointer-events: none;
}